.intro{
  height: 100%;
  background-image: url('/assets/water_drops_dark_background-wallpaper-2560x1600.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
