<div class="offset-md-4 col-md-4">
  <form>
    <div class="form-group">
      <label for="service-package-name">Name of service package</label>
      <input type="text" class="form-control" id="service-package-name" placeholder="Enter service package name" name="service-package-name"
             [(ngModel)]="servicePackage.name">
    </div>
    <div class="form-group">
      <label for="service-package-price">Service package price</label>
      <input type="number" class="form-control" id="service-package-price" placeholder="Enter service package price" name="service-package-price"
             [(ngModel)]="servicePackage.price">
    </div>
    <app-all-service-types (emittedServiceTypeList)="onToggle($event)" [viewForAddingServicePackage]=true></app-all-service-types>
    <button type="submit" class="btn btn-primary" (click)="registerFormMethod()">Submit</button>
  </form>
</div>
