<form class="form-inline my-2 my-lg-0">
<a *ngIf="loginResult==true" style="margin-right: 10px">Logged in as {{username}}</a>
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" *ngIf="loginResult==true">Logout</button>
</form>
<form class="form-inline my-2 my-lg-0" *ngIf="loginResult==null || loginResult==false">
  <a *ngIf="loginResult==false">Invalid username or password</a>
  <a href="/register" style="margin-right: 10px">Register</a>
  <input class="form-control mr-sm-2" type="text" placeholder="Login" name="Login" [(ngModel)]="username">
  <input class="form-control mr-sm-2" type="password" placeholder="Password" name="Password" [(ngModel)]="password">
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="login()">Login</button>
</form>
