<header class="intro">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="https://www.svgrepo.com/show/10057/two-blood-drops.svg" width="30" height="30"
           class="d-inline-block align-top" alt="">
      WashMe
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="all-car-washes">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="car-wash-register-form">Add new car wash</a>
            <a class="dropdown-item" routerLink="all-clients">View all clients</a>
            <a class="dropdown-item" routerLink="all-car-washes">View all car washes</a>
            <a class="dropdown-item" routerLink="all-reservations">View all reservations</a>
            <a class="dropdown-item" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Destroy something</a>
          </div>
        </li>

      </ul>

      <app-login-form></app-login-form>

    </div>
  </nav>

</header>
