<div class="container">
<div class="row">
<div class="col-md-3">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Slots</th>
    </tr>
    <tr *ngFor="let carWash of carWashes">
      <td>{{carWash.id}}</td>
      <td>{{carWash.name}}</td>
      <td>{{carWash.slots}}</td>
      <td><button type="button" class="btn btn-primary btn-sm" [routerLink]="['/all-car-washes', carWash.id]">Select</button></td>
    </tr>
  </table>
</div>
<div class="col-md-9">
<router-outlet></router-outlet>
</div>
</div>
</div>
