<div class="offset-md-0 col-md-12">
  <table>
    <tr>
      <th>Add</th>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Duration</th>
    </tr>
    <tr *ngFor="let serviceType of serviceTypes">
      <!--<td>{{serviceType.id}}</td>-->
      <td>
        <input type="checkbox" (change)="toggleSelectionOnList(serviceType.id)">
      </td>
      <td>{{serviceType.id}}</td>
      <td>{{serviceType.name}}</td>
      <td>{{serviceType.price}}</td>
      <td>{{serviceType.duration}}</td>
    </tr>
  </table>
</div>

<button type="submit" class="btn btn-primary" (click)="check()">Check</button>

<!--[checked]="checkboxValue"-->
