<div class="offset-md-0 col-md-12">

  <button *ngIf="viewForAddingServicePackage==false" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal">
    Add Service Type
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true" *ngIf="viewForAddingServicePackage==false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Service Type</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-service-type-add-form></app-service-type-add-form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitChild()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <table>
    <tr>
      <th *ngIf="viewForAddingServicePackage==true">Add</th>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Duration</th>
    </tr>
    <tr *ngFor="let serviceType of serviceTypes">
      <td *ngIf="viewForAddingServicePackage==true">
        <input type="checkbox" (change)="toggleSelectionOnList(serviceType.id)">
      </td>
      <td>{{serviceType.id}}</td>
      <td>{{serviceType.name}}</td>
      <td>{{serviceType.price}}</td>
      <td>{{serviceType.duration}}</td>
    </tr>
  </table>

</div>
